.alert-container {
    padding: 10px;
    position: fixed;
    top:0;
    right: 0;
    opacity: 1;
    width: 300px;
}

.alert-container.hidden {
    opacity: 0;
    transition: opacity 1s ease-out;
}