
.page {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 1em;
  margin: auto;
  background-color: #EEEEEE;
}

.main-page {
  display: flex;
  padding: 0;
  margin: 0;
}

.content-wrapper {
   padding: 16px;
   width: 100%;
   min-height: 100vh;
   height: 100%;
}